@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Raleway", sans-serif; */
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Noto Sans", sans-serif; */
/* font-family: "Quicksand", sans-serif; */
/* 0D4715 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.navbar {
    background-color: #D9A299 !important;
    position: sticky;
    top: 0;
    z-index: 1020;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-family: "Noto Sans", sans-serif;
}

.navbar-brand {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #fcfcfc !important;
}

.nav-link {
    font-size: 1.1rem;
    padding: 0.3rem 0.9rem;
    color: #fcfcfc !important;
}

.navbar-nav .nav-item {
    margin-left: 15px;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    color: #fcfcfc !important;
}

.navbar-toggler {
    border-color: #1d1c1c;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

/* Hero-Section */
.hero-section {
    background-color: #ffffff;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.hero-title {
    font-size: 3rem;
    font-weight: 400;
    color: #4A4947;
    letter-spacing: 0.5px;
    font-family: "Quicksand", sans-serif;
}

.hero-image {
    width: 150px;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-import,
.btn-submit {
    padding: 8px 22px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.btn-import {
    background-color: #4A4947;
    color: white;
}

.btn-submit {
    background-color: #D9A299;
    color: #ffffff;
}

.btn-import:hover {
    background-color: #252524;
}

.btn-submit:hover {
    background-color: #eeb3aa;
}

.hero-buttons i {
    margin-left: 7px;
    font-size: 1.1rem;
}